{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "target": "es2020",
    "parser": {
      "syntax": "typescript",
      "tsx": false
    }
  },
  "module": {
    "type": "commonjs"
  },
  "env": {
    "targets": {
      "node": "14"
    },
    "mode": "entry",
    "coreJs": "3.22"
  }
}
